<div id="block-rules">
        <div class="container">
            <div class="row">
                <div class="col s12 text-center">
                    <img src="img/latyn.jpg" alt="">
                    <p>
                        <b>Мақсаты:</b> Жаңа қабылданған мемлекеттік тілдің бірыңғай стандартты әліпбиін халыққа жеткізу, жазу әдісін оңтайластыру, осыған дейінгі сан мыңдаған рухани қазынамыз бен кітаптарымызды жаңа әліпбиге көшіру, латын әліпбиін тек Қазақстандықтар ғана үшін емес әлемдегі барлық қазақтың ортақ әліпбиіне айналдыру.<br>
                        <b>Мазмұны:</b> Кез келген қазақ әліпбин өзара сәйкестіру. Кирилл-Латын, Латын-Кирилл қаріптерін бір-біріне сәйкестендіріп аудару.<br>
                        <b>Ескерту:</b> Жаңа қабылданған латын әліпбиінің емле ережелері толық жасалмағадықтан конвертер жүйесінде кейбір қателіктері кетуі мүмкін. Ондай олқылықтардың орыны толық емле ережесі жасалған соң бірден реттелетін болады.
                    </p>
                </div>
            </div>
        </div>
    </div><br>
    <div style = " text-align:center; ">
            <img src = "../images/latin.png" style = "width: 600px; height: auto">
        </div>
        <br><br>