<div id="block-site">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <h2 style = "color: #005dac">Google Chrome Extension</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consectetur doloremque est, eum fugit harum impedit ipsa minus modi odit optio voluptatibus voluptatum. Ea exercitationem harum incidunt molestiae, pariatur quisquam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consectetur doloremque est, eum fugit harum impedit ipsa minus modi odit optio voluptatibus voluptatum. Ea exercitationem harum incidunt molestiae, pariatur quisquam.</p>
            </div>
            <div class="col s12 m4 text-center">
                <img src="../images/chrome_png.png" alt="">
                <a href="" class="waves-effect waves-light down"><i class="mdi mdi-download mdi-48px"></i></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12 m8">
                <h2 style = "color: #005dac">Web widget</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consectetur doloremque est, eum fugit harum impedit ipsa minus modi odit optio voluptatibus voluptatum. Ea exercitationem harum incidunt molestiae, pariatur quisquam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, consectetur doloremque est, eum fugit harum impedit ipsa minus modi odit optio voluptatibus voluptatum. Ea exercitationem harum incidunt molestiae, pariatur quisquam.</p>
            </div>
            <div class="col s12 m4 text-center">
                <a href="" class="waves-effect waves-light btn"><i class="mdi mdi-download mdi-36px"></i> Web widget</a>
            </div>
        </div>
    </div>
</div>